site_name: Heqet - Simple ArgoCD Bootstrapping
repo_url: https://github.com/nold360/heqet
remote_branch: gh-deploy
theme:
  logo: assets/heqet_logo.png
  favicon: assets/heqet_logo.png
  # Don't use google fonts:
  font: false
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - toc.integrate
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
  - toc:
      permalink: true
