replicaCount: 2

image:
  registry: docker.io
  repository: woodpeckerci/woodpecker-agent
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v0.14"

env:
  DRONE_SERVER: "woodpecker-server.woodpecker-server.svc.cluster.local:9000"

extraSecretNamesForEnvFrom:
- woodpecker-secret

podAnnotations: {}

podSecurityContext: {}
  fsGroup: 2000

securityContext: {}
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

resources: {}
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
